.imageGroup {
    display: flex;
    flex-wrap: wrap;
}

.badgeContainer {
    display: flex;
    flex-direction: column;
    margin-right: 20px; /* Optional: Adjust margin between badges */
}

.badgeContent {
    margin-bottom: 10px; /* Optional: Adjust margin between name and description */
}
.xpBox {
    display: flex;
    flex-direction: row;
    align-items: center;
  }