/* Styles for Accordion Container */
.accordionContainer {
    border: 1px solid #808080;
    margin-bottom: 20px;
    border-radius:  5px;
    overflow: hidden;
    width: 80%;
    background-color: rgb(27, 27, 27);

}

/* Styles for Accordion Header */
.accordionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 20px;
    cursor: pointer;
    background-color: #ffffff;
    transition: background-color 0.5s ease;

  
}

.accordionHeader:hover {
    background-color: #ffffff;
    color: black;
    border-radius:  5px; 
    border-bottom: 4px solid #00296f; /* 1px solid white border at the bottom */
}

.accordionContent {
    padding: 20px;
    background-color: #ffffff; /* Changed to white */
    border-bottom: 1px solid #ddd;
}
