.questionsWrapper {
    display: flex;
}



.container h1 {
    font-size: 2em;
}
.container h3 {
    font-size: 1.5em;
}
.container h4 {
    font-size: 1.3em;
}
.questionBox {
    display: flex;
    align-items: center; /* Align items vertically */
}

.questionBox h3 {
    margin-right: 10px;
}

.choiceWrapper :hover {
    background-color:#ececec;
}