.button {
    height: 2em;
    width: 6em;
    border-radius: 30px;
    background-color: #00B3FFC2;
    text-align: center;
    border: none;
    color: white;
    padding: 5px;
}

.button:hover {

    background-color: #0056b3;

}