
.tableContainer {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 40%;
    border-collapse: collapse;
    background-color: #eaf2f8; 

}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d0d0d0; 
    
}

.table th {
    background-color: #00296f; 
    color: #ffffff;
}

