/* ModuleBox.module.scss */

.tableContainer {
    width: 100%;
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
    background-color: #eaf2f8; /* Light blue */
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d0d0d0; /* Light grey */
}

.table th {
    background-color: #00296f; /* Dark blue */
    color: #ffffff; /* White text */
}

.table tbody tr:nth-child(even) {
    background-color: #f0f6fc; /* Light blue */
}

.table tbody tr:nth-child(odd) {
    background-color: #d9e8ff; /* Lighter blue */
}
