.auth {
    border: 1px solid rgba(187, 184, 184, 0.528); // Adjust opacity for a fainter border
    display: flex;
    flex-direction: column; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 2%;
    padding: 25px;
    margin-bottom: 25px;
    justify-content: center; /* Add this line */
    background-color: white;
    border-radius: 5px;
}

.authContainer {
    display: flex;
    justify-content: center; /* Add this line */
    padding-top: 4em;
    z-index: 10;
}

.buttonContainer {
    margin-top: 20px;
    display: flex;
    justify-content: right;
}

.error {
    word-wrap: break-word; /* Allow text to wrap onto the next line */
    overflow-wrap: break-word; /* Ensure words break appropriately when needed */
    display: block; /* Ensure it takes full width */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

