
.moduleBox {
    display: flex;
    width: 60%;
    min-width: 30%;
    height: 20%;
    padding: 1%;
    margin-bottom: 2%;
    font-size: 0.65em;
    flex-direction: column;
    border: 1px solid #000000; /* Updated border color to a sleeker gray */
    border-radius:  5px;

    &:hover {
      border-bottom: 4px solid #00296f; /* 1px solid white border at the bottom */
      transition: background-color 0.5s ease;
    }
  }
.header {
    display: flex;
    align-items: center;
}
.line {
  width: 100%;
  color: black;
}
.xpBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 2%;
}