.titleWrapper {
    display: flex;
    align-items: center;

}

.score{
    display: flex;
    align-items:center;
}



.xpBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 2%;
    font-weight: bold;
  }